<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ciao</p>
    <p><a href="http://127.0.0.1:5500/src/it/beije/oort/kirolosmater/biblioteca/view/menuAutore.html">Per gestire gli autori</a></p>
    <p><a href="http://127.0.0.1:5500/src/it/beije/oort/kirolosmater/biblioteca/view/menuEditore.html">Per gestire gli editori</a></p>
    <p><a href="http://127.0.0.1:5500/src/it/beije/oort/kirolosmater/biblioteca/view/menuLibro.html">Per gestire i libri</a></p>
    <p><a href="http://127.0.0.1:5500/src/it/beije/oort/kirolosmater/biblioteca/view/menuPrestito.html">Per gestire i prestiti</a></p>
    <p><a href="http://127.0.0.1:5500/src/it/beije/oort/kirolosmater/biblioteca/view/menuUtente.html">Per gestire gli utenti</a></p>
</body>
</html>